
@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    
    font-family: 'Poppins';

  }

  h1 {

    font-size:70px;
    text-align: center;
  }

  h4 {

    font-size:15px;
    text-align: left;
    color: #cf0a0a;
  }
    h2 {

        font-size:30px;
        text-align: center;
        background-color: rgb(214, 212, 88);
        font-style: italic;


      
       
   
  }

  header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }

.caja-search{
  width: max-content;
  background-color: #f0f0f0;
  padding-left: 260%;
  padding-right: 10%;
  align-content: end;
  border: #ffffff;
  height: 35px;
  margin-top: 15px;
  align-items: end;
}

  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }

  .form {
    display: flex;
    justify-content: right;
    
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .nmp-logo {
    width: 40px;
    margin-right: 1rem;
  }

  .button1 {
    color:#ffffff;
    background-color:#FB3B49;
    border:  12px;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 1em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px 5px;
    height: 35px;

  }

  .button1-2 {
    color:#000000;
    background-color:#ffffff;
    
    border-color: #000000;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 1em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 8px 8px 8px;
    height: 35px;
    stroke-width: 20%;



  }

  

  
  .button1-3 {
    color:#000000;
    background-color:#ffffff;
    border:  0px;
    margin-top: 15px;
    margin-right: 0px;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
   
    height: 35px;



  }

  .section1 {
    
    background-color: rgb(231, 231, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;

}

    .section1 >article{

        margin-left: 35%;
        margin-right: 35%;
        text-align: center;
        }
    
  
    .button2 {
    color:#ffffff;
    background-color:#FB3B49;
    border: #FB3B49;
    margin-top: 60px;
    margin-right: 20px;
    box-shadow: 8px 8px #c0999c;
    font-size: 1.5em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 20px 60px 20px;

}

.button3 {
    color:#000000;
    
    background-color:#ffffff;
    border: #ffffff;
font-size: 1.5em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 20px 60px 20px;
  margin-left: 5px;

    }

.section2 {
   
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 6%;
    
;
}

.section2 >article{

margin-left: 23%;
margin-right: 23%;
text-align: center;
}








.triangle-hexagon{
    justify-content: center;

    width: 280px;
    margin-right: 1rem;
    align-items: center;
    padding: 5%;

}

.section3 {
   text-align: left;
   margin-left: 10%;
   
}

.logos{

    width: 30px;
    margin-right: 1rem;
align-items: normal;}



.logos_direction{
    display: flex;
    flex-direction: row;
    align-items: center;

    
}

.columna {
    margin-right: 5%;
    align-items: center;

}






.button4 {
    color:#ffffff;
    background-color:#000000;
    border: #ceb7b9;
   margin-left: 450px;
   margin-right: 500px;
   margin-top: 60px;
   margin-bottom: 40px;
    align-content: center;
    
    box-shadow: 8px 8px #ccbdbe;
    font-size: 1.5em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 20px 60px 20px;
    display: flex;
    flex
    align-items: center;}


    